.coffee-display{
    margin-top: 30px;
}
.coffee-display h2{
    font-size: max(2vw, 24px);
    font-weight: 600;
}
.coffee-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    margin-top: 30px;
    gap: 20px;
    row-gap: 50px;
}